<h1>templates/friends/index Friends Index</h1>
<ul>
  {{#each friend in model}}
    <li>{{#link-to 'friends.show' friend}}
	{{friend.id}} - {{friend.firstName}} {{friend.lastName}}</li>
	{{/link-to}}
  {{/each}}
</ul>
<h2>Total friends: {{model.length}}</h2>
